.container-home { 
  display: grid;
  grid-template-areas: "t" "l" "r";
  grid-template-columns: 70px 400px 1fr;
  grid-template-rows: 100%;
  height: 100vh;
  transition: all 0.5s ease-in-out;
}

.container-home.no-active-participants { 
  grid-template-areas: "t" "l" "r";
  grid-template-columns: 70px 0 1fr;
}

.toolbar {
  grid-area: t;
  border-right: 1px solid var(--bg-color-sub);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-between;

}

.toolbar-icons { 
  font-size: 36px;
  padding: 20px 0;
  cursor: pointer;
}

.profile-image-icon { 
  width: 40px;
  height: 40px;
  background-color: white; 
  display: block;
  border-radius: 100%;
  object-fit: cover;
  overflow: hidden;
}

.profile-image-icon img{ 
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-users{ 
  width: 100%;
  height: 100%;
  border-right: 1px solid var(--bg-color-sub);
  padding: 32px;
  display: grid;
  grid-template-rows: auto 1fr;
}

.content-users.no-active { 
 visibility: hidden;
}

.content-users.no-active .title { 
  visibility: collapse;
}
.content-users.no-active .list { 
  visibility: collapse;
}

.content-users-list { 
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-content-users { 
  display: flex;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
  background-color: var(--bg-color-sub);
  transition: all ease-in 0.3s;
}

.profile-content-users.selected { 
  background-color: var(--green-dark);

}

.profile-content-users:hover { 
  filter: brightness(.9);
}

.icons-config { 
  color: var(--white);
}

.image-config-edit,
.profile-config {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  position: relative;
} 